Repository FuelLabs/swayswap, pull requests merged in 2022-07, with the labels that each got.

#354 feat: make add liquidity on a single tx
  packages/app/package.json
  packages/app/src/systems/Core/hooks/useTransactionCost.ts
  packages/app/src/systems/Core/utils/gas.ts
  packages/app/src/systems/Pool/components/AddLiquidityPreview.tsx
  packages/app/src/systems/Pool/hooks/__mocks__/useAddLiquidity.ts
  packages/app/src/systems/Pool/hooks/useAddLiquidity.ts
  packages/app/src/systems/Pool/hooks/usePreviewAddLiquidity.ts
  packages/app/src/systems/Pool/hooks/usePreviewLiquidity.ts
  packages/app/src/systems/Pool/pages/AddLiquidity.test.tsx
  packages/app/src/systems/Pool/pages/AddLiquidity.tsx
  packages/app/src/systems/Pool/utils/helpers.ts
  packages/app/src/systems/Pool/utils/queries.ts
  packages/app/src/systems/Swap/machines/swapMachine.ts
  packages/app/src/systems/Swap/types.ts
  packages/app/src/types/contracts/ExchangeContractAbi.d.ts
  packages/app/src/types/contracts/TokenContractAbi.d.ts
  packages/scripts/package.json
  pnpm-lock.yaml
Labels: page:pools

#360 feat: disable max button after setting max balance
  packages/app/src/systems/Core/components/CoinBalance.tsx
  packages/app/src/systems/Core/hooks/useCoinInput.ts
  packages/app/src/systems/Swap/hooks/useSwapMaxButton.tsx
  packages/app/src/systems/Swap/machines/swapMachine.ts
  packages/app/src/systems/Swap/pages/SwapPage.test.tsx
  packages/app/src/systems/Swap/utils/helpers.test.ts
  packages/app/src/systems/Swap/utils/helpers.ts
Labels: bug, enhancement, page:swap

#364 chore: keep input size when has no balance
  packages/app/src/systems/Core/components/CoinBalance.tsx
Labels: enhancement, page:swap

#366 feat: should set input value when has no coin input too
  packages/app/src/systems/Swap/machines/swapMachine.ts
Labels: enhancement, page:swap

#367 feat: should disable max button instead of hiding
  packages/app/src/systems/Swap/hooks/useSwapMaxButton.tsx
  packages/app/src/systems/Swap/pages/SwapPage.test.tsx
Labels: enhancement, page:swap
